[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git@github.com:altercation/vim-colors-solarized.git
  ignore = untracked
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = git@github.com:vim-scripts/Emmet.vim.git
  ignore = untracked
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
  ignore = untracked
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = git@github.com:Lokaltog/powerline.git
  ignore = untracked
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = git@github.com:tomtom/tlib_vim.git
  ignore = untracked
[submodule "bundle/addon-mw-utils"]
	path = bundle/addon-mw-utils
	url = git@github.com:MarcWeber/vim-addon-mw-utils.git
  ignore = untracked
[submodule "bundle/fakeclip"]
	path = bundle/fakeclip
	url = git@github.com:kana/vim-fakeclip.git
  ignore = untracked
[submodule "bundle/rails"]
	path = bundle/rails
	url = git@github.com:tpope/vim-rails.git
  ignore = untracked
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git@github.com:garbas/vim-snipmate.git
  ignore = untracked
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = git@github.com:leandrost/vim-snippets.git
  ignore = untracked
[submodule "bundle/textobj-rubyblock"]
	path = bundle/textobj-rubyblock
	url = git@github.com:nelstrom/vim-textobj-rubyblock.git
  ignore = untracked
[submodule "bundle/textobj-user"]
	path = bundle/textobj-user
	url = git@github.com:kana/vim-textobj-user.git
  ignore = untracked
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git@github.com:godlygeek/tabular.git
  ignore = untracked
[submodule "bundle/jade-syntax"]
	path = bundle/jade-syntax
	url = git://github.com/digitaltoad/vim-jade.git
  ignore = untracked
[submodule "bundle/airline"]
	path = bundle/airline
	url = git@github.com:bling/vim-airline.git
  ignore = untracked
[submodule "pathogen"]
	path = pathogen
	url = git@github.com:tpope/vim-pathogen.git
  ignore = untracked
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git@github.com:tpope/vim-pathogen.git
  ignore = untracked
[submodule "bundle/ack"]
	path = bundle/ack
	url = git@github.com:mileszs/ack.vim.git
[submodule "bundle/rename"]
	path = bundle/rename
	url = git@github.com:danro/rename.vim.git
[submodule "bundle/vim-trailing-whitespace"]
	path = bundle/vim-trailing-whitespace
	url = git@github.com:bronson/vim-trailing-whitespace.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-windowswap"]
	path = bundle/vim-windowswap
	url = git@github.com:wesQ3/vim-windowswap.git
[submodule ".vim/bundle/puppet"]
	path = .vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "bundle/puppet"]
	path = bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
