[submodule "bundle/emmet"]
	path = bundle/emmet
	url = git@github.com:vim-scripts/Emmet.vim.git
  ignore = untracked
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = git@github.com:tomtom/tlib_vim.git
  ignore = untracked
[submodule "bundle/addon-mw-utils"]
	path = bundle/addon-mw-utils
	url = git@github.com:MarcWeber/vim-addon-mw-utils.git
  ignore = untracked
[submodule "bundle/fakeclip"]
	path = bundle/fakeclip
	url = git@github.com:kana/vim-fakeclip.git
  ignore = untracked
[submodule "bundle/rails"]
	path = bundle/rails
	url = git@github.com:tpope/vim-rails.git
  ignore = untracked
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git@github.com:garbas/vim-snipmate.git
  ignore = untracked
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = git@github.com:honza/vim-snippets.git
  ignore = untracked
[submodule "bundle/textobj-rubyblock"]
	path = bundle/textobj-rubyblock
	url = git@github.com:nelstrom/vim-textobj-rubyblock.git
  ignore = untracked
[submodule "bundle/textobj-user"]
	path = bundle/textobj-user
	url = git@github.com:kana/vim-textobj-user.git
  ignore = untracked
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git@github.com:godlygeek/tabular.git
  ignore = untracked
[submodule "bundle/jade-syntax"]
	path = bundle/jade-syntax
	url = git://github.com/digitaltoad/vim-jade.git
  ignore = untracked
[submodule "bundle/airline"]
	path = bundle/airline
	url = git@github.com:bling/vim-airline.git
  ignore = untracked
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git@github.com:tpope/vim-pathogen.git
  ignore = untracked
[submodule "bundle/ack"]
	path = bundle/ack
	url = git@github.com:mileszs/ack.vim.git
[submodule "bundle/rename"]
	path = bundle/rename
	url = git@github.com:danro/rename.vim.git
[submodule "bundle/vim-trailing-whitespace"]
	path = bundle/vim-trailing-whitespace
	url = git@github.com:bronson/vim-trailing-whitespace.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/vim-windowswap"]
	path = bundle/vim-windowswap
	url = git@github.com:wesQ3/vim-windowswap.git
[submodule "bundle/puppet"]
	path = bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/indent-line"]
	path = bundle/indent-line
	url = git@github.com:Yggdroot/indentLine.git
[submodule "bundle/vim-javascript-syntax"]
	path = bundle/vim-javascript-syntax
	url = git@github.com:jelera/vim-javascript-syntax.git
[submodule "bundle/javascript-libraries-syntax.vim"]
	path = bundle/javascript-libraries-syntax.vim
	url = git@github.com:othree/javascript-libraries-syntax.vim.git
[submodule "bundle/html5.vim"]
	path = bundle/html5.vim
	url = git@github.com:othree/html5.vim.git
[submodule "mustache-handlebars"]
	path = bundle/mustache-handlebars
	url = git://github.com/mustache/vim-mustache-handlebars.git
[submodule "bundle/vim-devicons"]
	path = bundle/vim-devicons
	url = git@github.com:ryanoasis/vim-devicons.git
  ignore = untracked
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "bundle/vim-es6"]
	path = bundle/vim-es6
	url = git@github.com:isRuslan/vim-es6.git
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = git@github.com:jistr/vim-nerdtree-tabs.git
[submodule "bundle/editor-config"]
	path = bundle/editor-config
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "bundle/file-line"]
	path = bundle/file-line
	url = git@github.com:bogado/file-line.git
[submodule "bundle/vim-hybrid-material"]
	path = bundle/vim-hybrid-material
	url = git@github.com:kristijanhusak/vim-hybrid-material.git
[submodule "bundle/vim-startify"]
	path = bundle/vim-startify
	url = git@github.com:mhinz/vim-startify.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = git@github.com:w0rp/ale.git
[submodule "bundle/vim-grammarous"]
	path = bundle/vim-grammarous
	url = git@github.com:rhysd/vim-grammarous.git
[submodule "bundle/fzf"]
	path = bundle/fzf
	url = git@github.com:junegunn/fzf.vim.git
[submodule "bundle/vim-vue"]
	path = bundle/vim-vue
	url = git@github.com:posva/vim-vue.git
[submodule "bundle/vim-caser"]
	path = bundle/vim-caser
	url = git@github.com:arthurxavierx/vim-caser.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
